@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
.output iframe{
    visibility: hidden;
    border-radius: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    background-color: #03071e;
    color: whitesmoke;
    height: 100vh;
}

.output{
    height: 400px;
}
label{
    display: block;
    padding:2rem 0;
}
input{
    border-radius: 3px;
    background: transparent;
    border: 2px solid white;
    padding: 2px;
    color: white;
}

button{
    border-radius: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    background: transparent;
    border: 2px dotted white;
}

button:hover{
    color: #03071e;
    background: white;
    transition: 0.2s ease-in-out;
}

.output{
    padding-top: 10px;
}
footer{
    background: #060e3a;
    display: flex;
    justify-content: space-evenly;
    height: 6rem;
    border-radius: 20px;
}

.fab{
    color: #cfd2e4;
    font-size: 5rem;
    padding-top: 10px;
}
